<div class="row">
  <div class="card">
    <div class="card-header">Sign Up form</div>
    <div class="cord-body">
      <form>
        <div class="col-md-6"><label for="">Name</label></div>
        <div class="col-md-6">
          <input
            type="text"
            formcontrolName="name"
            name="name"
            id="name"
            class="form-control"
          />
        </div>
        <div class="col-md-6"><label for="">User Name</label></div>
        <div class="col-md-6">
          <input
            type="text"
            formcontrolName="username"
            name="username"
            id="username"
            class="form-control"
          />
        </div>
        <div class="col-md-6"><label for="">Password</label></div>
        <div class="col-md-6">
          <input
            type="password"
            formcontrolName="password"
            name="password"
            id="password"
            class="form-control"
          />
        </div>
        <div class="col-md-6">
          <input type="submit" value="Sumit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
